/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
wp-content/uploads/
node_modules
resources/*.*
/*.*
!/composer.json
!/composer.lock
!/README.md
Capfile
.DS_Store
